<div class="row">
  <ngb-alert *ngIf="error" [type]="'danger'" (closed)="error = ''">
    <i class="fa fa-exclamation-triangle"></i>
    {{ error }}
    &nbsp;
  </ngb-alert>
  <div class="col">
    <div class="row">
      <div class="col">
        <button class="btn btn-link" (click)="backToPrevious()">
          << Go Back
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <strong class="fs-4">{{ task?.title }}</strong>
              <button class="btn btn-light float-end" (click)="editTask()">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <pre>{{ task?.description }}</pre>
          </div>
        </div>
        <app-task-comments [taskId]="taskId"></app-task-comments>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Creator:</strong>&nbsp;{{ task?.creator?.name }}
              </li>
              <li class="list-group-item">
                <strong>Priority:</strong>&nbsp;<span
                  taskPriority
                  [priority]="task?.priority"
                  >{{ task?.priority }}</span
                >
              </li>
              <li class="list-group-item">
                <strong>Created:</strong>&nbsp;{{
                  task?.creationDate | date: "MMM d, y H:mm"
                }}
              </li>
              <li class="list-group-item">
                <strong>Modified:</strong>&nbsp;{{
                  task?.lastModified | date: "MMM d, y H:mm"
                }}
              </li>
              <li class="list-group-item">
                <strong>Project:</strong>&nbsp;{{ task?.project?.name }}
              </li>
              <li class="list-group-item">
                <strong>Active:</strong>&nbsp;<span
                  activeStyle
                  [isActive]="task?.active"
                  >{{ task?.active ? "Yes" : "No" }}</span
                >
              </li>
            </ul>
          </div>
        </div>
        <app-task-assignments [taskId]="taskId"></app-task-assignments>
        <app-task-followers [taskId]="taskId"></app-task-followers>
      </div>
    </div>
  </div>
</div>
