<div class="card mt-2">
  <div class="card-header">
    <div class="card-title">
      <strong>Comments</strong>
    </div>
  </div>
  <div class="card-body">
    <div class="card">
      <div class="card-body">
        <textarea
          id="taskNewCommentText"
          class="form-control"
          rows="3"
        ></textarea>
        <button class="btn btn-light mt-2 float-end">Send</button>
      </div>
    </div>
    <div class="card mt-2">
      <div class="card-header">
        <div class="card-title">
          <strong>Merfrei (Sep 16, 2021 12:34 AM)</strong>
          <button class="btn btn-light float-end">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <pre>This is a comment</pre>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <div class="card-title">
          <strong>Pupe (Sep 16, 2021 12:34 AM)</strong>
        </div>
      </div>
      <div class="card-body">
        <pre>This is not my comment</pre>
      </div>
    </div>

    <div class="card mt-2">
      <div class="card-header">
        <div class="card-title">
          <strong>Merfrei (Sep 16, 2021 12:34 AM)</strong>
          <button class="btn btn-light float-end">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <pre>This is a comment</pre>
      </div>
    </div>
  </div>
</div>
