<div class="card mt-2">
  <div class="card-header">
    <div class="card-title">
      <strong>Followers</strong>
    </div>
  </div>
  <div class="card-body">
    <div ngbDropdown>
      <input
        ngbDropdownToggle
        type="text"
        class="form-control"
        placeholder="Add follower"
        [(ngModel)]="filter"
      />
      <ul ngbDropdownMenu class="dropdown-menu">
        <li
          (click)="addFollower(user)"
          *ngFor="let user of users"
          ngbDropdownItem
        >
          {{ user.name }} ({{ user.email }})
        </li>
      </ul>
    </div>
    <ul class="list-group list-group-flush mt-2">
      <li *ngFor="let follower of followers" class="list-group-item">
        <strong>{{ follower.name }}</strong>
        <button
          class="btn btn-light float-end"
          (click)="removeFollower(follower)"
        >
          <i class="fa fa-times"></i>
        </button>
      </li>
    </ul>
  </div>
</div>
