<div id="assignments-component">
  <ngb-alert *ngIf="error" [type]="'danger'" (closed)="error = ''">
    <i class="fa fa-exclamation-triangle"></i>
    {{ error }}
    &nbsp;
  </ngb-alert>
  <div class="row mt-3">
    <div class="col-8">
      <div class="row">
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="search"
            value="{{ search }}"
            (ngModelChange)="onSearchChange($event)"
          />
        </div>
        <div class="col-3">
          <select
            class="form-select"
            [(ngModel)]="statusSelected"
            (ngModelChange)="onStatusFilterChange()"
          >
            <option value="">All Status</option>
            <option *ngFor="let status of allStatus" value="{{ status.code }}">
              {{ status.label }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <table class="table table-hover">
        <caption>
          {{
            total
          }}
          assignments found
        </caption>
        <thead>
          <tr>
            <th>
              Task
              <i
                class="fa fa-fw"
                (click)="toggleSort('task')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="task"
              ></i>
            </th>
            <th>
              Note
              <i
                class="fa fa-fw"
                (click)="toggleSort('note')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="note"
              ></i>
            </th>
            <th>
              Deadline
              <i
                class="fa fa-fw"
                (click)="toggleSort('deadline')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="deadline"
              ></i>
            </th>
            <th>
              Status
              <i
                class="fa fa-fw"
                (click)="toggleSort('status')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="status"
              ></i>
            </th>
            <th class="text-center">
              <div class="me-5">
                Total Time
                <i
                  class="fa fa-fw"
                  (click)="toggleSort('time')"
                  sortingAction
                  [sortedColumns]="sortedColumns"
                  columnName="time"
                ></i>
              </div>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let assignment of assignments">
            <td>
              <button
                class="btn btn-link"
                [routerLink]="'/tasks/' + assignment.taskId"
              >
                {{ assignment.taskTitle }}
              </button>
            </td>
            <td>{{ assignment.note }}</td>
            <td>{{ assignment.deadline | date: "MMM d, y" }}</td>
            <td>
              <select
                #statusOption
                class="form-select"
                (change)="onStatusChange(statusOption.value, assignment.id)"
              >
                <option
                  *ngFor="let status of allStatus"
                  [attr.selected]="
                    assignment.statusCode === status.code
                      ? 'selected'
                      : undefined
                  "
                  value="{{ status.code }}"
                >
                  {{ status.label }}
                </option>
              </select>
            </td>
            <td class="text-center">
              <div class="me-5">
                <strong>{{ assignment.totalTime | formatDuration }}</strong>
                <button
                  type="button"
                  class="btn btn-light btn-sm ms-2"
                  title="Start New"
                  (click)="startNewEntry(assignment.id)"
                >
                  <i class="fa fa-play"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="total"
        (pageChange)="onPageChange()"
      ></ngb-pagination>
    </div>
  </div>
</div>
