<div id="tasks-component">
  <ngb-alert *ngIf="error" [type]="'danger'" (closed)="error = ''">
    <i class="fa fa-exclamation-triangle"></i>
    {{ error }}
    &nbsp;
  </ngb-alert>
  <div class="row mt-3">
    <div class="col-8">
      <div class="row">
        <div class="col-4">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            [(ngModel)]="search"
            value="{{ search }}"
            (ngModelChange)="onSearchChange($event)"
          />
        </div>
        <div class="col-3">
          <select
            class="form-select"
            [(ngModel)]="projectSelected"
            (ngModelChange)="onProjectsChange()"
          >
            <option value="">All Projects</option>
            <option *ngFor="let project of projects" value="{{ project[0] }}">
              {{ project[1] }}
            </option>
          </select>
        </div>
        <div class="col">
          <button
            type="button"
            class="btn"
            [ngClass]="{ 'btn-success': onlyActive, 'btn-light': !onlyActive }"
            (click)="onActiveChange()"
          >
            Active
          </button>
          <button
            type="button"
            class="btn"
            [ngClass]="{
              'btn-secondary': onlyFollowing,
              'btn-light': !onlyFollowing
            }"
            (click)="onFollowingChange()"
          >
            Following
          </button>
        </div>
      </div>
    </div>
    <div class="col-2">
      <button
        class="btn btn-light float-end"
        title="Create"
        (click)="newTask()"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-hover">
        <caption>
          {{
            total
          }}
          tasks found
        </caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>
              Title
              <i
                class="fa fa-fw"
                (click)="toggleSort('title')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="title"
              ></i>
            </th>
            <th>
              Project
              <i
                class="fa fa-fw"
                (click)="toggleSort('project')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="project"
              ></i>
            </th>
            <th>Active</th>
            <th>
              Created
              <i
                class="fa fa-fw"
                (click)="toggleSort('created')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="created"
              ></i>
            </th>
            <th>
              Created By
              <i
                class="fa fa-fw"
                (click)="toggleSort('creator')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="creator"
              ></i>
            </th>
            <th>
              Last Modified
              <i
                class="fa fa-fw"
                (click)="toggleSort('modified')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="modified"
              ></i>
            </th>
            <th>
              Priority
              <i
                class="fa fa-fw"
                (click)="toggleSort('priority')"
                sortingAction
                [sortedColumns]="sortedColumns"
                columnName="priority"
              ></i>
            </th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td>{{ task.projectName }}</td>
            <td activeStyle [isActive]="task.active">
              {{ task.active ? "Yes" : "No" }}
            </td>
            <td>{{ task.created | date: "MMM d, y H:mm" }}</td>
            <td>{{ task.creatorName }}</td>
            <td>{{ task.modified | date: "MMM d, y H:mm" }}</td>
            <td taskPriority [priority]="task.priority">
              {{ task.priority }}
            </td>
            <td>
              <div class="btn-group" role="group">
                <button
                  type="button"
                  class="btn btn-light btn-sm"
                  title="View"
                  (click)="viewTask(task.id)"
                >
                  <i class="fa fa-eye"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-light btn-sm"
                  title="Edit"
                  (click)="editTask(task)"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-light btn-sm"
                  title="Remove"
                  (click)="removeTask(task.id)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="total"
        (pageChange)="onPageChange()"
      ></ngb-pagination>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
