<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">
    <img style="max-height: 100px" src="assets/logo.menu.svg" />
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="#!"
      >Assignments</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="#!"
      >Tasks</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="#!"
      >Projects</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="#!"
      >Teams</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      href="#!"
      >Entries</a
    >
  </div>
</div>
