<div class="border-end bg-white" id="sidebar-wrapper">
  <div class="sidebar-heading border-bottom bg-light">
    <img style="max-height: 100px" src="assets/logo.menu.svg" />
  </div>
  <div class="list-group list-group-flush">
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="assignments"
      routerLinkActive="active"
      >Assignments</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="tasks"
      routerLinkActive="active"
      >Tasks</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="projects"
      routerLinkActive="active"
      >Projects</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="teams"
      routerLinkActive="active"
      >Teams</a
    >
    <a
      class="list-group-item list-group-item-action list-group-item-light p-3"
      routerLink="entries"
      routerLinkActive="active"
      >Entries</a
    >
    <div *ngIf="currentUser && currentUser.isAdmin; then adminMenu"></div>
    <ng-template #adminMenu>
      <span class="list-group-item list-group-item-light text-center"
        ><strong>Admin</strong></span
      >
      <a
        routerLink="access"
        routerLinkActive="active"
        class="list-group-item list-group-item-action list-group-item-light p-3"
        >Access</a
      >
    </ng-template>
  </div>
</div>
