<div id="teams-component">
  <ngb-alert *ngIf="error" [type]="'danger'" (closed)="error = ''">
    <i class="fa fa-exclamation-triangle"></i>
    {{ error }}
    &nbsp;
  </ngb-alert>
  <div class="row mt-3">
    <div class="col-md-2">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="search"
        value="{{ search }}"
        (ngModelChange)="onSearchChange($event)"
      />
    </div>
    <div class="col-md-8">
      <button
        class="btn btn-light float-end"
        title="Create"
        (click)="newTeam()"
      >
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-hover">
        <caption>
          {{
            total
          }}
          teams found
        </caption>
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Owner</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let team of teams">
            <td>{{ team.name }}</td>
            <td>{{ team.description }}</td>
            <td>{{ team.ownerName }}</td>
            <td>
              <div
                *ngIf="team.ownerId === currentUser?.id"
                class="btn-group"
                role="group"
              >
                <button
                  type="button"
                  class="btn btn-light btn-sm"
                  title="Edit"
                  (click)="editTeam(team)"
                >
                  <i class="fa fa-edit"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-light btn-sm"
                  title="Members"
                  (click)="editMembers(team)"
                >
                  <i class="fa fa-users"></i>
                </button>
                <button
                  type="button"
                  class="btn btn-light btn-sm"
                  title="Remove"
                  (click)="removeTeam(team)"
                >
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ngb-pagination
        [(page)]="page"
        [pageSize]="pageSize"
        [collectionSize]="total"
        (pageChange)="onPageChange()"
      ></ngb-pagination>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
