<div class="card mt-2">
  <ngb-alert *ngIf="error" [type]="'danger'" (closed)="error = ''">
    <i class="fa fa-exclamation-triangle"></i>
    {{ error }}
    &nbsp;
  </ngb-alert>
  <div class="card-header">
    <div class="card-title">
      <strong>Assignments</strong>
      <button class="btn btn-light float-end" (click)="newAssignment()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li *ngFor="let assignment of assignments" class="list-group-item">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <strong>{{ assignment.user.name }}</strong>
              <button
                class="btn btn-light float-end"
                title="Remove"
                (click)="removeAssignment(assignment)"
              >
                <i class="fa fa-trash"></i>
              </button>
              <button
                class="btn btn-light float-end"
                title="Edit"
                (click)="editAssignment(assignment)"
              >
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-light float-end" title="Entries">
                <i class="fa fa-clock"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{ assignment.note }}</li>
              <li class="list-group-item">
                <strong>Assigned by:</strong>&nbsp;{{
                  assignment.creator.name
                }}
                ({{ assignment.creationDate | date: "MMM d, y h:mm a":locale }})
              </li>
              <li class="list-group-item">
                <strong>Status:</strong>&nbsp;{{ assignment.status.label }}
              </li>
              <li class="list-group-item">
                <strong>Deadline:</strong>&nbsp;{{
                  assignment.deadline | date: "MMM d, y":locale
                }}
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
