<div class="card mt-2">
  <div class="card-header">
    <div class="card-title">
      <strong>Assignments</strong>
      <button class="btn btn-light float-end" (click)="newAssignment()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="card">
          <div class="card-header">
            <div class="card-title">
              <strong>Merfrei</strong>
              <button class="btn btn-light float-end" title="Remove">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-light float-end" title="Edit">
                <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-light float-end" title="Entries">
                <i class="fa fa-clock"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Should fix everything ASAP</li>
              <li class="list-group-item">
                <strong>Assigned by:</strong>&nbsp;Merfrei (Sep 16, 2021 12:34
                AM)
              </li>
              <li class="list-group-item">
                <strong>Status:</strong>&nbsp;In Progress
              </li>
              <li class="list-group-item">
                <strong>Deadline:</strong>&nbsp;Sep 17, 2021
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
